<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Record</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- CONTENT START -->
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Record
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- HEADER START -->
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">RECORD</ion-title>
      </ion-toolbar>
    </ion-header>
    <!-- HEADER END -->



    <!-- BUTTONS START -->
    <ion-content>

      <!--      divs are purely for css styling-->
      <div class="container">
        <div class="content">

      <ion-button size="small" shape="round" (click)="recordButtonHandler()">
        <ion-icon name="play-outline"></ion-icon>
        {{recordButton}}
      </ion-button>

      <ion-button size="small" shape="round" [disabled]="isRecording || !mediaExists" (click)="playRecording()">
        <ion-icon name="musical-notes-outline"></ion-icon>
        Play
      </ion-button>

        </div>
      </div>

    </ion-content>



  </ion-content>
  <!-- BUTTONS END -->

</ion-content>
