<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Scanner</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--      divs are purely for css styling-->
  <div class="container">
    <div class="content">

      <ion-button size="small" shape="round" (click)="scanBarcode()">
        <ion-icon name="scan-circle-outline"></ion-icon>
        Scan Barcode
      </ion-button>  <!-- button to load barcode scanner. Onclick to trigger our scanBarcode() function -->

      <h4>Scanned Barcode Details: </h4>
      <p> {{ scannedBarcode }}</p> <!--  interpolation. getting the data that is scanned  -->

    </div>
  </div>

</ion-content>

