<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="scanner" href="/tabs/scanner">
      <ion-icon aria-hidden="true" name="barcode-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="email" href="/tabs/email">
      <ion-icon aria-hidden="true" name="mail-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="record" href="/tabs/record">
      <ion-icon aria-hidden="true" name="mic-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="compass" href="/tabs/compass">
      <ion-icon aria-hidden="true" name="compass-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="ocr" href="/tabs/ocr">
      <ion-icon aria-hidden="true" name="document-text-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="t2s" href="/tabs/t2s">
      <ion-icon aria-hidden="true" name="megaphone-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
