<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Text-To-Speech
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br>
  <ion-item>
    <ion-label position="floating">Enter Text</ion-label>
    <ion-input [(ngModel)]="readText" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Speed Rate</ion-label>
    <ion-range [(ngModel)]="speedRate" min="0" max="1" step="0.1" color="primary">
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">1</ion-label>
    </ion-range>
  </ion-item>

  <ion-button expand="full" (click)="Listen()">
<!--    <ion-icon name="musical-note-outline"></ion-icon>-->
     Listen
  </ion-button>

  <ion-button expand="full" (click)="Stop()">
<!--    <ion-icon name="volume-mute-outline"></ion-icon>-->
     Stop
  </ion-button>

  <p>{{ logMessage }}</p>

</ion-content>
