<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Email
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Email</ion-title>
    </ion-toolbar>
  </ion-header>


<!--  A form to compose an email where you can input data for 'to', 'cc', 'bcc', 'subject' and 'body'. Has 2 way data binding   -->
  <form #composeEmailForm="ngForm" (ngSubmit)="sendEmail(composeEmailForm)" style="margin: 10%">

    <!-- patten checks for a letter before and after the '@' and '.' using [a-zA-Z] and the '+' allows there to be more
    than one letter (bare min example needed for email address: a@a.a). '[^]*' allows for any character that isn't a letter due to '^'
    and allows the character to be used zero or many times due to '*'. I have not allowed special characters to be
    used after the '@' and '.'.
    References:
    https://medium.com/@siddharthgov01/regular-expressions-from-a-za-z-88cf9cf0abac
    https://www.w3schools.com/jsref/jsref_obj_regexp.asp
    -->
    <ion-input type="string" label="To " id="toRecipient" name="toRecipient" [(ngModel)]="toRecipient" pattern="[^]*[a-zA-Z]+[^]*@[a-zA-Z]+\.[a-zA-Z]+" required=""></ion-input> <!-- required input for the form -->

    <ion-input type="string" label="cc " id="carbonCopy" name="carbonCopy" [(ngModel)]="carbonCopy" pattern="[^]*[a-zA-Z]+[^]*@[a-zA-Z]+\.[a-zA-Z]+"></ion-input>

    <ion-input type="string" label="bcc " id="blindCarbonCopy" name="blindCarbonCopy" [(ngModel)]="blindCarbonCopy" pattern="[^]*[a-zA-Z]+[^]*@[a-zA-Z]+\.[a-zA-Z]+"></ion-input>

    <ion-input type="string" label="Subject " id="subjectTitle" name="subjectTitle" [(ngModel)]="subjectTitle"></ion-input>

    <ion-textarea rows="10" type="string" label="Body " id="composeEmail" name="composeEmail" [(ngModel)]="emailBody"></ion-textarea>

<!--    Submit button to submit the form-->
    <ion-button type="submit" color="default" size="small" shape="round" fill="outline">
      <ion-icon name="send-outline"></ion-icon>
      Submit
    </ion-button>

<!--    Clear button that clears the inputs of the form-->
    <ion-button type="button" color="default" size="small" shape="round" fill="outline" (click)="clearFields()">
      <ion-icon name="trash-outline"></ion-icon>
      Clear
    </ion-button>
    <br>

    {{ errorMessage }}    <!--interpolation. Pulling the error message and displaying it if error occurred -->

  </form>


</ion-content>
