<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      OCR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">OCR</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--      divs are purely for css styling-->
  <div class="container">
    <div class="content">

      <ion-button size="small" shape="round" (click)="takePhoto()">
        <ion-icon name="camera-outline"></ion-icon>
        Take Photo
      </ion-button>

      <ion-button size="small" shape="round" (click)="selectPhoto()">
        <ion-icon name="image-outline"></ion-icon>
        Select a Photo
      </ion-button>

      <ion-card *ngIf="extractedText">
        <ion-card-header>
          Extracted Text
        </ion-card-header>
        <ion-card-content>
          {{ extractedText }}
        </ion-card-content>
      </ion-card>

      <p>{{ logMessage }}</p>

    </div>
  </div>

</ion-content>
