<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      OCR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">OCR</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="takePhoto()">Take Photo</ion-button>
  <ion-button (click)="selectPhoto()">Select a Photo</ion-button>

  <ion-img *ngIf="capturedImage" [src]="capturedImage"></ion-img>
  
  <ion-card *ngIf="extractedText">
    <ion-card-header>
      Extracted Text
    </ion-card-header>
    <ion-card-content>
      {{ extractedText }}
    </ion-card-content>
  </ion-card>

  <p>{{ logMessage }}</p>

</ion-content>
